html{
    --widthBoard: 500px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 15px 0;
}

.main-container{
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    padding: 30px 100px 30px 250px;
    background-color: #8cd98c;
}

.board{
    box-sizing: content-box;
    width: var(--widthBoard);
    height: var(--widthBoard);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid black;
}

.buttons-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.button{
    all: unset;
    box-sizing: border-box;
    width: 120px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #133913;
    color: white;
    cursor: pointer;
    text-align: center;
}