html{
    --widthBoard: 500px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E8E8E8;
}

h1{
    text-align: center;
    margin: 15px 0;
}

.main-container{
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px 100px;
}

.board{
    box-sizing: content-box;
    width: var(--widthBoard);
    height: var(--widthBoard);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid black;
}

.input-color-container{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    height: 60px;
    position: relative;
}

.buttons-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.button{
    all: unset;
    box-sizing: border-box;
    width: 120px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #808080;
    color: white;
    cursor: pointer;
    text-align: center;
}

.active{
    background-color: black;
}

.button:hover{
    background-color: #404040;
}

#user-input-color{
    border: none;
    position: absolute;
    top: 25%;
    right: 0;
}